<html>
	<head>
		<title>
			Temperature Converter App
		</title>
		<style>
			*{
				font-size:40px;
				text-align:center;
			}
			body{
				background-color:#ffe6ff;	
			}
			.fc{
				border:solid;
				padding:2%;
				width:60%;
				margin:auto;
				border-radius:40px;	
			}
			input[type=radio]{
				width:2%;
				height:0.5em;
			}
		</style>
	</head>
	<body>
		<h1>Temperature Converter App</h1>
		
		<div class="fc">
			<form method="POST">
				<input type="number"
					step="any"
					name="temp"
					placeholder="Enter Temperature"
					required/>
				<br/><br/>
				<input type="radio"
					name="choice"
					value="c2f"
					checked=true
					required
					/>Celcius to Fah
				<input type="radio"
					name="choice"
					value="f2c"
					required
					/>Fah to Celcius 
				<br/><br/>
				<input type="submit"
					value="Convert"/>
			</form>
		</div>
		<h2>
			{{ msg }}
		</h2>
	</body>
</html>